[submodule "glue/tclap"]
	path = glue/tclap
	url = git://tclap.git.sourceforge.net/gitroot/tclap/tclap
[submodule "glue/android-cmake"]
	path = glue/android-cmake
	url = git://gitorious.org/android-cmake/android-cmake.git
[submodule "android/ndk"]
	path = android/ndk
	url = https://android.googlesource.com/platform/ndk.git
[submodule "android/dev"]
	path = android/dev
	url = https://android.googlesource.com/platform/development.git
[submodule "glue/libcalg"]
	path = glue/libcalg
	url = git://c-algorithms.git.sourceforge.net/gitroot/c-algorithms/c-algorithms
