# Ignore everything in this directory
*
# Except this file
!.gitignore

# Over time, this file should change.
# Automated documentation comes in at the top level.
# A structure of folders, such as, $ ls doc
# tutorials topics reference ... javadoc etc ...
# is ideal. Remember best practices!

# See: http://jacobian.org/writing/great-documentation/what-to-write/
