# Ignore everything in this directory
*
# Except this file and build script
!.gitignore
!CMakeLists.txt
# Add known native headers to support easy build
!lib_alexandria_functions_RealParameterizedFunction.h
!lib_alexandria_functions_kernels_Kernel.h
!lib_alexandria_functions_sigmoid_SigmoidFunction.h
!lib_alexandria_functions_wavelets_Wavelet.h
!lib_alexandria_pipeline_Aqueduct.h
!lib_alexandria_pipeline_Aqueduct_State.h
!lib_alexandria_models_reinforcement_nn_NativeWorker.h
# For tests
!lib_alexandria_proof_POC.h
